body {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

header,
footer {
    width: 100%;
    min-height: 15%;
    background: rgba(101, 145, 32, 0.5);

}

h1 {
    text-align: center;
    margin-top: 5vh;
    font-size: 3rem;
}

/*MAIN*/
main {
    margin: 0 auto;
    background-color: #25282a;
    padding: 2vh;
    height: 60%;
    width: 80vh;
    border-radius: 2%;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    color: white;
    gap: 2vh;
    overflow: hidden;
}

input[type='radio'] {
    display: none;
}

.slides {
    display: flex;
    height: 100%;
    width: 500%;
}

.image {
    width: 20%;
    text-align: center;
    transition: 1s ease;
    border-radius: 2%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigator {
    display: flex;
    flex: 1;
    width: 12%;
    justify-content: space-between;
}

.navigator .bar {
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    cursor: pointer;
    border-radius: 50%;
    background: #71abff;
}

.navigator .bar:hover {
    background: white;
}

.navigator .bar:active {
    background: white;
    border: 1px solid #71abff;
}

#btn1:checked ~ .slider_extra .forbtn1,
#btn2:checked ~ .slider_extra .forbtn2,
#btn3:checked ~ .slider_extra .forbtn3,
#btn4:checked ~ .slider_extra .forbtn4,
#btn5:checked ~ .slider_extra .forbtn5{
    background: #25282a;
    border: 1px solid #71abff;
}

#btn1:checked ~ .slides .first {
    margin-left: 0;
}

#btn2:checked ~ .slides .first  {
    margin-left: -20%;
}

#btn3:checked ~ .slides .first {
    margin-left: -40%;
}

#btn4:checked ~ .slides .first {
    margin-left: -60%;
}

#btn5:checked ~ .slides .first {
    margin-left: -80%;
}

#btn1:checked ~ .slider_extra .start_label {
    margin-left: 0;
}

#btn2:checked ~ .slider_extra .start_label {
    margin-left: -25%;
}

#btn3:checked ~ .slider_extra .start_label {
    margin-left: -66%;
}

#btn4:checked ~ .slider_extra .start_label {
    margin-left: -150%;
}

#btn5:checked ~ .slider_extra .start_label {
    margin-left: -400%;
}

.slider_extra {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 5vh;
    gap: 30%;
}
.slider_desc_container{
    width: 100%;
    overflow: hidden;
}
.slider_desc{
    width: 500%;
    display: flex;
    justify-content: start;
    flex-flow: row nowrap;
}

.slider_desc div{
    width: 100%;
    transition: 1s ease;
}

/*FOOTER*/
.image_github {
    width: 4vw;
    height: 4vw;
    background-image: url(../img/github.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

footer,
.footer_github {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: 1.5rem;
}

.contact__content.footer_content,
.footer_github {
    align-self: center;

}

.footer_content,
.footer_empty {
    width: 4vw;
    height: 4vw;
}

.year_create {
    align-self: center;
    justify-self: center;
}
@media only screen and (max-width: 1260px) {
    body {
        width: 100vw;
    }
}

@media only screen and (max-width: 1000px) {
    main{
        width: 100%;
        height: auto;
    }
    .slider_extra {
        font-size: 1rem;
    }

    footer {
        font-size: 1.2rem;
    }

    .image_github,
    .footer_content {
        width: 7vw;
        height: 7vw;
    }
}

@media only screen and (max-width: 880px) {
    main {
        height: auto;
        width: 90vw;
    }

    .slider_extra {
        flex-flow: column-reverse nowrap;
        gap: 2vh;
        align-items: center;
        height: 100%;
    }

    .image_github,
    .footer_content {
        width: 10vw;
        height: 10vw;
    }
}